@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
}

.rec.rec-arrow {
	background-color: gray;
}

.rec.rec-arrow:focus-visible {
	background-color: black;
}

button.rec-dot {
	background-color: gray;
	box-shadow: black;
}

.background-shade-1 {
	background: rgb(0,0,0);
	background: linear-gradient(155deg, rgba(0,0,0,1) 35%, rgba(122,122,122,1) 83%);
}