@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
}

.rec.rec-arrow {
	background-color: gray;
}

.rec.rec-arrow:focus-visible {
	background-color: black;
}

button.rec-dot {
	background-color: gray;
	box-shadow: black;
}
